@import "../../styles/colors.scss";

.task {
  background-color: $white;
  padding: 8px 14px;
  border-radius: 4px;
  position: relative;
  overflow: hidden;

  &:hover .manage {
    transform: translateY(0);
  }
}

.title {
  font-size: 18px;
  font-weight: 600;
  width: 100%;
  max-width: calc(100% - 120px);
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  display: flex;
  align-items: center;
  gap: 4px;
}

.description {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  margin-top: 4px;
  width: 100%;
  max-width: calc(100% - 40px);
}

.footer {
  margin-top: 6px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.deadline {
  background-color: $light_accent;
  display: flex;
  align-items: center;
  gap: 6px;
  width: fit-content;
  padding: 4px 8px;
  border-radius: 12px;
  color: $white;
  line-height: 1;

  .icon {
    width: 20px;
    height: 20px;
    stroke-width: 2px;
  }

  &.today {
    background-color: $warning;
  }

  &.expired {
    background-color: $error;
  }
}

.warning {
  font-weight: 500;
  color: darken($warning, 15);
}

.error {
  font-weight: 500;
  color: $error;
}

.field {
  margin-bottom: 14px;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.save {
  display: block;
  padding: 8px 24px;
  border-radius: 4px;
  background-color: $main_brand;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  color: $light_shades;
  transition: background-color 0.3s ease, color 0.3s ease;

  &:not(:disabled):hover {
    background-color: $dark_accent;
    color: $white;
  }

  &:disabled {
    cursor: not-allowed;
  }
}

.manage {
  position: absolute;
  top: 0;
  right: 14px;
  transition: transform 0.3s ease-out;
  transform: translateY(-150%);
  display: flex;
  align-items: center;
  gap: 6px;

  .button {
    width: 32px;
    height: 32px;
    padding: 4px;
    color: $white;
    border-radius: 0 0 6px 6px;
    transition: background-color 0.3s ease;

    &.check {
      background-color: $main_brand;
      &:hover {
        background-color: darken($main_brand, 10);
      }
    }
    &.edit {
      background-color: $dark_accent;
      &:hover {
        background-color: darken($dark_accent, 10);
      }
    }
    &.delete {
      background-color: $error;
      &:hover {
        background-color: darken($error, 10);
      }
    }
  }
}

.subtitle {
  font-weight: 500;
  margin-bottom: 4px;
}

.checkmark {
  width: 24px;
  height: 24px;
}

.done {
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  gap: 4px;
  background-color: $light_accent;
  color: $light_shades;
  width: fit-content;
  padding: 2px 8px;
  border-radius: 8px;

  svg {
    width: 14px;
    height: 14px;
    stroke-width: 3px;
  }
}

.loader {
  margin: 64px 0;
}
