@import "../../styles/colors.scss";

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;

  &.small {
    width: 24px;
    height: 24px;

    .loader {
      width: 14px;
      height: 14px;
      border: 2px solid $light_accent;
      animation: rotation 1s linear infinite;
      border-color: $dark_accent transparent;

      &:after {
        border: 2px solid;
        width: 16px;
        height: 16px;
      }
    }
  }
}

$size: 64px;

.loader {
  width: $size;
  height: $size;
  border: 4px solid $light_accent;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  animation: rotation 1s linear infinite;

  &:after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: $size - 16px;
    height: $size - 16px;
    border-radius: 50%;
    border: 4px solid;
    border-color: $dark_accent transparent;
  }
}
