@import "../../styles/colors.scss";

.taskCreate {
  margin: 24px 0;
  background-color: $white;
  border-radius: 4px;
  box-shadow: 0 4px 0 0 rgba($white, 0.5);

  .header {
    padding: 8px 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 4px;
    transition: background-color 0.3s ease, transform 0.3s ease,
      box-shadow 0.3s ease;

    .chevron {
      width: 28px;
      height: 28px;
      border-radius: 4px;
      padding: 6px;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: rgba($dark_shades, 0.25);
      }

      svg {
        transition: transform 0.3s ease;
      }

      &.rotated {
        svg {
          transform: scaleY(-1);
        }
      }
    }

    &.active {
      background-color: $light_accent;
      transform: translateY(-6px) scale(1.01);
      box-shadow: 0 4px 0 0 rgba($light_accent, 0.5);
    }
  }

  .body {
    overflow: hidden;
    transition: height 0.3s ease;
  }

  .content {
    padding: 8px 12px;
  }

  .footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.field {
  margin-bottom: 14px;
}

.button {
  display: block;
  padding: 8px 24px;
  border-radius: 4px;
  background-color: $main_brand;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  color: $light_shades;
  transition: background-color 0.3s ease, color 0.3s ease;

  &:hover {
    background-color: $dark_accent;
    color: $white;
  }
}

.loader {
  height: 250px;
}
