$light_shades: #ebebe5;
$light_accent: #94994e;
$main_brand: #b2988e;
$dark_accent: #9c6165;
$dark_shades: #353648;

$white: #ffffff;
$black: #000000;

$error: #d90429;
$info: #8ecae6;
$success: #9ef01a;
